<h2>{{ 'Privacy-policy.title' | translate }}</h2>
<p>{{ 'Privacy-policy.intro' | translate }}</p>
<hr/>
<h4>{{ 'Privacy-policy.collection.personal.information' | translate }}</h4>
<section>
    {{ 'Privacy-policy.collection.detail.list' | translate }}
    <ul>
        <li>{{ 'Privacy-policy.collection.detail.firstname.lastname' | translate }}</li>
        <li>{{ 'Privacy-policy.collection.detail.postal.address' | translate }}</li>
        <li>{{ 'Privacy-policy.collection.detail.coords.address' | translate }}</li>
        <li>{{ 'Privacy-policy.collection.detail.email.address' | translate }}</li>
    </ul>
    {{ 'Privacy-policy.collection.forms.fill.free' | translate }}<br/>
    {{ 'Privacy-policy.collection.except.location.data' | translate }} <a href="https://www.geoapify.com/address-autocomplete" target="_blank">{{ 'Privacy-policy.collection.except.location.api' | translate }}</a>,
    {{ 'Privacy-policy.collection.no.data.automatic.process' | translate }}
</section>
<hr/>
<h4>{{ 'Privacy-policy.use.collected.data' | translate }}</h4>
<section>
    {{ 'Privacy-policy.use.different.purposes' | translate }}
    <ul>
        <li>{{ 'Privacy-policy.use.purpose.statistics' | translate }}</li>
        <li>{{ 'Privacy-policy.use.purpose.sending.emails' | translate }}</li>
        <li>{{ 'Privacy-policy.use.purpose.site.features' | translate }}</li>
    </ul>
</section>
<hr/>
<h4>{{ 'Privacy-policy.access.right.personal.data' | translate }}</h4>
<p>
    {{ 'Privacy-policy.access.right.engagement' | translate }}<br/>
    {{ 'Privacy-policy.access.right.get.data' | translate }}&nbsp;<a href="/member">{{ 'Privacy-policy.access.right.my.data' | translate }}</a>
    ({{ 'Privacy-policy.access.right.get.json' | translate }}).
    {{ 'Privacy-policy.access.right.rectification' | translate:{'email': 'rgpd@close-env.com'} }}
</p>
<p>{{ 'Privacy-policy.conclusion.rgpd' | translate }}</p>
<br/>