<div class="card">
    <div class="card-body">
        <h5 class="card-title">{{ 'Association.account.step-by-step.procedure.title' | translate }}</h5>
        <!--p class="card-text"></p-->
        <ul class="list-group">
            <li class="list-group-item ">
                <span class="badge badge-secondary badge-pill">1</span>&nbsp;
                {{ 'Association.account.step-by-step.i-1.text' | translate }}&nbsp;(<a routerLink="/signup">{{ 'Nav.item.signup' | translate }}</a>)
            </li>
            <li class="list-group-item ">
                <span class="badge badge-secondary badge-pill">2</span>&nbsp;
                {{ 'Association.account.step-by-step.i-2.text' | translate }}
            </li>
            <li class="list-group-item ">
                <span class="badge badge-secondary badge-pill">3</span>&nbsp;
                {{ 'Association.account.step-by-step.i-3.text' | translate }}
            </li>
            <li class="list-group-item ">
                <span class="badge badge-secondary badge-pill">4</span>&nbsp;
                {{ 'Association.account.step-by-step.i-4.text' | translate }}
            </li>
            <li class="list-group-item ">
                <span class="badge badge-secondary badge-pill">5</span>&nbsp;
                {{ 'Association.account.step-by-step.i-5.text' | translate }}
            </li>
            <li class="list-group-item ">
                <span class="badge badge-secondary badge-pill">6</span>&nbsp;
                {{ 'Association.account.step-by-step.i-6.text' | translate }}
            </li>
            <li class="list-group-item ">
                <span class="badge badge-secondary badge-pill">7</span>&nbsp;
                {{ 'Association.account.step-by-step.i-7.text' | translate }}
            </li>
            <li class="list-group-item ">
                <span class="badge badge-secondary badge-pill">8</span>&nbsp;
                {{ 'Association.account.step-by-step.i-8.text' | translate }}
            </li>
            <li class="list-group-item ">
                <span class="badge badge-secondary badge-pill">9</span>&nbsp;
                {{ 'Association.account.step-by-step.i-9.text' | translate }}
            </li>
            <li class="list-group-item ">
                <span class="badge badge-secondary badge-pill">10</span>&nbsp;
                {{ 'Association.account.step-by-step.j-0.text' | translate }}
            </li>
            <li class="list-group-item ">
                <span class="badge badge-secondary badge-pill">11</span>&nbsp;
                {{ 'Association.account.step-by-step.j-1.text' | translate }}
            </li>
            <li class="list-group-item ">
                <span class="badge badge-secondary badge-pill">12</span>&nbsp;
                {{ 'Association.account.step-by-step.j-2.text' | translate }}
            </li>
            <li class="list-group-item ">
                <span class="badge badge-secondary badge-pill">13</span>&nbsp;
                {{ 'Association.account.step-by-step.j-3.text' | translate }}
            </li>
            <li class="list-group-item ">
                <span class="badge badge-secondary badge-pill">14</span>&nbsp;
                {{ 'Association.account.step-by-step.j-4.text' | translate }}
            </li>
            <li class="list-group-item ">
                <span class="badge badge-secondary badge-pill">15</span>&nbsp;
                {{ 'Association.account.step-by-step.j-5.text' | translate }}
            </li>
            <li class="list-group-item ">
                <span class="badge badge-secondary badge-pill">16</span>&nbsp;
                {{ 'Association.account.step-by-step.j-6.text' | translate }}
            </li>
            <li class="list-group-item ">
                <span class="badge badge-secondary badge-pill">17</span>&nbsp;
                {{ 'Association.account.step-by-step.j-7.text' | translate }}
            </li>
        </ul>
        <!--p class="card-text text-center">{{ 'Association.account.step-by-step.procedure.info' | translate }}</p-->
    </div>
</div>
