<div [hidden]="!showWarningMessage" class="alert alert-warning alert-dismissible fade show" role="alert">
    <strong>{{ warningMessageStrong | translate }}</strong>&nbsp;{{ warningMessage | translate }}
    <button (click)="showWarningMessage = false" type="button" class="close" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
</div>
<div [hidden]="!showSuccessMessage" class="alert alert-success alert-dismissible fade show" role="alert">
    {{ successMessage | translate }}
    <p [hidden]="!showSuccessAdditionalInfo">
        {{ successAdditionalInfo | translate }}
    </p>
    <button (click)="showSuccessMessage = false" type="button" class="close" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
</div>
<div [hidden]="!newRequest" class="card">
    <h4 class="card-header">{{ 'Password.form.new.header' | translate }}</h4>
    <div class="card-body">
        <div class="alert alert-info" role="alert">
            {{ 'Password.form.new.feature' | translate }}
            {{ 'Password.form.new.feature.more' | translate }}
        </div>
        <form class="form-signin" [formGroup]="newRequestPasswordForm" (ngSubmit)="newRequestPassword()">
            <div class="form-group">
                <label for="email">{{ 'Password.form.email' | translate }}</label>
                <input type="email" formControlName="email" class="form-control" placeholder="{{ 'Password.form.email' | translate }}"
                    [ngClass]="{ 'is-invalid': submitted && newRequestPasswordForm.controls.email.errors }" />
                <div *ngIf="submitted && newRequestPasswordForm.controls.email.errors" class="invalid-feedback">
                    <div *ngIf="newRequestPasswordForm.controls.email.errors.required">{{ 'Password.form.email.required' | translate }}</div>
                    <div *ngIf="newRequestPasswordForm.controls.email.errors.email">{{ 'Password.form.email.invalid' | translate }}</div>
                </div>
            </div>
            <div class="form-group">
                <button type="submit" [disabled]="loading" class="btn btn-primary">
                    <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>{{ 'Password.form.new.btn.send' | translate }}
                </button>
            </div>
        </form>
    </div>
</div>
<div [hidden]="newRequest || hideForm" class="card">
    <h4 class="card-header">{{ 'Password.form.header' | translate }}</h4>
    <div class="card-body">
        <div class="alert alert-info" role="alert">
            <B>{{ 'Password.form.basic.rule' | translate }}</B>
            {{ 'Password.form.basic.rule.statement' | translate }}
        </div>
        <form class="form-signin" [formGroup]="passwordForm" (ngSubmit)="validatePassword()">
            <div class="form-group">
                <label for="password">{{ 'Password.form.password' | translate }}</label>
                <div class="input-group">
                    <input [type]="passwordApparent ? 'text' : 'password'" formControlName="password" class="form-control" placeholder="{{ 'Password.form.password' | translate }}" 
                        [ngClass]="{ 'is-invalid': submitted && f.password.errors }" />
                    <div class="input-group-append">
                        <span class="input-group-text">
                            <i class="fa" [ngClass]="{'fa-eye-slash': !passwordApparent, 'fa-eye': passwordApparent}" (click)="togglePasswordVisibility()"></i>
                        </span>
                    </div>
                    <div *ngIf="submitted && hasPasswordError" class="invalid-feedback">
                        <div *ngIf="f.password.errors.required">{{ 'Password.form.password.required' | translate }}</div>
                        <div *ngIf="f.password.errors.minlength">{{ 'Password.form.password.minlength' | translate:{'requiredLength':f.password.errors.minlength.requiredLength} }}</div>
                        <div *ngIf="f.password.errors.patternMismatch">{{ 'Password.form.password.pattern.mismatch' | translate }}</div>
                    </div>
                </div>
            </div>
            <div class="form-group input-group">
                <label for="confirmPassword">{{ 'Password.form.password.confirm' | translate }}</label>
                <div class="input-group">
                    <input [type]="confirmPasswordApparent ? 'text' : 'password'" formControlName="confirmPassword" class="form-control" placeholder="{{ 'Password.form.password.confirm' | translate }}" 
                        [ngClass]="{ 'is-invalid': submitted && f.confirmPassword.errors }" />
                    <div class="input-group-append">
                        <span class="input-group-text">
                            <i class="fa" [ngClass]="{'fa-eye-slash': !confirmPasswordApparent, 'fa-eye': confirmPasswordApparent}" (click)="toggleConfirmPasswordVisibility()"></i>
                        </span>
                    </div>
                    <div *ngIf="submitted && hasConfirmPasswordError" class="invalid-feedback">
                        <div *ngIf="f.confirmPassword.errors.required">{{ 'Password.form.password.required' | translate }}</div>
                        <div *ngIf="f.confirmPassword.errors.minlength">{{ 'Password.form.password.minlength' | translate:{'requiredLength':f.confirmPassword.errors.minlength.requiredLength} }}</div>
                        <div *ngIf="f.confirmPassword.errors.mismatch">{{ 'Password.form.password.mismatch' | translate }}</div>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <button type="submit" [disabled]="loading || errorBack" class="btn btn-primary">
                    <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>{{ 'Password.form.btn.submit' | translate }}
                </button>
                <a routerLink="/password/new" (click)="switchNewForm()" class="btn btn-link">{{ 'Password.form.link.newRequest' | translate }}</a>
                <!--a href="/password/new" (click)="switchNewForm()" class="btn btn-link">{{ 'Password.form.link.newRequest' | translate }}</a-->
            </div>
        </form>
    </div>
</div>
<div [hidden]="!hideForm" class="card">
    <div class="card-body">
        <p class="card-text">
            {{ 'Password.changed.now.signin' | translate }} <a routerLink="/signin" class="btn btn-link">{{ 'Nav.item.signin' | translate }}</a>
        </p>
    </div>
</div>
