<div class="card-deck">
    <div class="card">
        <div class="card-header text-center">
            {{ 'Contact.sending.email.title' | translate }}
        </div>
        <div class="card-body">
            <div class="list-group text-center group-custom">
                <a class="list-group-item list-group-item-action list-group-item-light" href="mailto:contact@close-env.com">{{ 'Contact.sending.email.text' | translate }}</a>
            </div>
            <p class="card-text"></p>
        </div>
    </div>
    <div class="card">
        <div class="card-header text-center">
            {{ 'Contact.social.media.presence' | translate }}
        </div>
        <div class="card-body">
            <div class="list-group text-center group-custom">
                <a class="list-group-item list-group-item-action list-group-item-light" href="https://twitter.com/closeenv" target="_blank">
                    {{ 'Contact.social.media.twitter' | translate }}
                </a>
            </div>
            <p class="card-text"></p>
        </div>
    </div>
    <div class="card">
        <div class="card-header text-center">
            {{ 'Contact.user.assistance.title' | translate }}
        </div>
        <div class="card-body">
            <div class="list-group text-center group-custom">
                <a class="list-group-item list-group-item-action list-group-item-light" href="https://help.close-env.com/myfaq/?artlang={{getCurrentLanguageCode()}}" target="_blank">
                    {{ 'Contact.frequently.asked.questions' | translate }}
                </a>
            </div>
            <p class="card-text"></p>
        </div>
    </div>
</div>
<div class="card-deck detach-from-above">
    <div class="card border-light col-md-12 ">
        <div class="card-body"> <!-- width="750" height="250" -->
            <img src="./assets/params/images/logo/Banner_1500x500_Close-Env.png" class="img-fluid" alt="Logo Close-Env.">
        </div>
    </div>
</div>